/* 
    Document   : safari
    Created on : Oct 9, 2014, 2:59:39 PM
    Author     : hung
    Description:
        Purpose of the stylesheet follows.
*/

select {
    max-height: 32px;
    line-height: 25px;
    vertical-align: middle;
}

input.invalid, select.invalid, textarea.invalid {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(249, 24, 39, 0.8);
    -moz-box-shadow:    0px 0px 5px 0px rgba(249, 24, 39, 0.8);
    box-shadow:         0px 0px 5px 0px rgba(249, 24, 39, 0.8);
    border: 1px solid rgba(249, 24, 39, 0.6);
}

.dropdown, .dropdown-menu{
    min-width: 180px;
}
.fixedDropdownWidth .dropdown a.btn, .content-detail-wrap .dropdown a.btn, .dropdown a.btn{
    width: 160px;
}
.subFilter{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}